@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
}

body {
  @include flex-column-center();
  font-family: 'Merienda', cursive;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background: #dfeff1;
}

h1 {
  font-size: 4em;
  background: #9ccecd;
  width: 100%;
  padding: 50px 0;
  text-align: center;
  text-shadow: 3px 3px 3px #310606;
  color: #ef6464;
}

.pomodoro {
  @include flex-column-center();
  width: 100%;
  height: 100%;
  &__box {
    @include flex-column-center();
    justify-content: center;
    background: #ff8585;
    width: 280px;
    height: 270px;
    border-radius: 50%;
    font-size: 2.5em;
    margin: 70px 0 50px 0;
    box-shadow: 0 0 5px 5px #d04b4b;
    transition: all 1s;
  }
  &__description {
    margin-bottom: 15px;
  }
  &__clock {
    font-weight: bold;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-bottom: 50px;
  }
  &__button-start,
  &__button-stop {
    font-family: 'Merienda', cursive;
    margin: 0 40px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #85c6cb;
    font-size: 1.3em;
    box-shadow: 0 0 3px 3px #598285;
    transition: all .3s;
    cursor: pointer;
    outline: none;
    &:hover {
      box-shadow: 0 0 7px 7px #598285;
    }
  }
  &__settings {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__session,
  &__break {
    @include flex-column-center();
    justify-content: center;
    margin: 0 60px;
    font-size: 2em;
    p {
      margin-bottom: 20px;
    }
    span {
      cursor: pointer;
      user-select: none;  
    }
  }
  &__session-value-row,
  &__break-value-row {
    display: flex;
  }
  &__session-value,
  &__break-value {
    margin: 0 10px;
    width: 35px;
    text-align: center;
  }
  &__disabled {
    color: #ac9d9d;
  }
  &__change-background { 
    background: #c3fab9;
    box-shadow: 0 0 5px 5px #698664;
  }
}

.about-me {
  padding: 10px 0;
  background: #9ccecd;
  width: 100%;
  text-align: center;
  &__link {
    color: #000;
  }
}